body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

p {
    font-size: 18px;
    color: green;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    text-align: center;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
}
